body{
    background-color: #00000027 ;
}
#welcome{
    font-size: 36pt; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}
#husbando-day-header{
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
}
#husbando-day-img{
border: 4px solid #000000;

}
