body{
    background-color: #00000027 ;
}
#wallpaper{
    width: 100%;
}
#welcome{
    font-size: 36pt; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}
#husbando-day-header{
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 43%;
    left: 2%;
}
#husbando-day-img{
    width: 500x;
    height: 500px;
    position: absolute;
    top: 50%;
    border: 3px solid #000000;

}