#title{
        text-align: center;
        color: rgb(17, 226, 226);
}
#background{
        background-color: rgb(160, 160, 160);
}
#tartaglia{
        width: 40%;
        height: 70%;
}
.unorderedlists{
        text-align: right; 
}
.liststyle{
        font-size: 15pt;
}
#zhongli{
        width: 40%;
        height: 85%;
}